::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
  }
  ::-webkit-scrollbar-track {
    background: white; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(217, 202, 202); 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #5a4cad, #00acc4);
  }
  
  ::-webkit-scrollbar-corner {
    background: #f4f4f4;
  }
  
button:hover{
  width: 100px;
  transform: translateY(-2px);
}