.newsletter {                         
  background: linear-gradient(to right, #CD1A40, #FF803C);
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  margin-top: 150px;
}

.img1 {
  width: 400px;
  height: 500px;
  margin-left: -960px;
  margin-top: -221px;
}

.newsletter-content {
  margin-left: 700px;
  margin-top: -260px;
  max-width: 700px;
  width: 600px;
}

.newsletter-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 350px;
  text-align: left;
}

.newsletter-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  width: 500px;
  text-align: left;
}

.newsletter-form {
  display: flex;
  gap: 0.5rem;
}

.newsletter-input {
  max-width: fit-content;
  flex: 1;
  padding: 1rem;
  font-size: .9rem;
  border: none;
  border-radius: 4px;
  outline: none;
  opacity: 30%;
}

.newsletter-button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #ff7e5f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.newsletter-button:hover {
  background-color: #ff7e5f;
  color: #fff;
}

@media (max-width: 480px), (max-width: 830px){
  .img1 {
    display: none;
  }

  .newsletter {
    padding: 1rem;
    height: auto; 
    min-height: 300px; 
    margin-top: 20px;
  }

  .newsletter-content {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }

  .newsletter-heading {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .newsletter-description {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
  }

  .newsletter-form {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .newsletter-button {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .img1 {
    display: none;
  }

  .newsletter {
    padding: 1.5rem;
    height: auto;
    min-height: 300px;
    margin-top: 30px;
  }

  .newsletter-content {
    margin-left: 0px;
    margin-top: 20px;
    width: 90%;
  }

  .newsletter-heading {
    font-size: 1.8rem;
    text-align: left;
    width: 100%;
  }

  .newsletter-description {
    font-size: 1rem;
    text-align: left;
    width: 100%;
  }

  .newsletter-form {
    gap: 0.8rem;
    flex-direction: row;
  }

  .newsletter-input {
    width: 75%;
  }

  .newsletter-button {
    width: 20%;
  }
}
